input.majoryzator-button {
  font-weight: bold !important;
  font-size: 18px !important;
  font-family: 'Times New Roman', Times, serif !important;
  position: fixed !important;
  bottom: 20px !important;
  display: inline-block !important;
  border: 1px solid !important;
  border-radius: 16px !important;
  opacity: 0.2 !important;
  cursor: pointer !important;
  color: black !important;
  border-color: black !important;
  background: white !important;
  box-shadow: none !important;
  padding: 6px !important;
  vertical-align: middle !important;
  min-height: initial !important;
  box-sizing: border-box !important;
  outline: none !important;
  transition: none !important;
  width: 40px !important;
  line-height: 16px !important;
  text-align: center !important;
  text-decoration: none !important;
  margin: 5px !important;
  z-index: 100000 !important;
}

input.majoryzator-button:hover {
  opacity: 0.8 !important;
}

#majoryzator-suchodolski {
  right: 20px !important;
}

#majoryzator-kononowicz {
  right: 60px !important;
}